
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.song-form label {
    font-family: 'Rokkitt', serif;
}

.form-button {
    color: white;
    background-color: maroon;
    border: maroon;
    font-weight: bold;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /* font-size: 30px;
    font-family: 'Markazi Text', serif; */
}