
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Rokkitt:wght@400&display=swap');


.tunr-title {
  font-size: 70px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

h1 {
  font-family: 'Viga', sans-serif;
}

.header {
  border-bottom: 4px solid #32e0c4;
}
.header h5 {
  font-size: 16px;
  padding-left: 15px;
  margin-top: 0px;
  color: black;
  font-family: 'Rokkitt', serif;
}

/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Markazi Text', serif;
} */